global:
  scrape_interval: '15s'
  scrape_timeout: '10s'
scrape_configs:

# Prometheus configuration for Pure Storage FlashArray1

  - job_name: 'purestorage-fa1'
    scheme: https
    tls_config:
      insecure_skip_verify: true
    metrics_path: /metrics/array
    authorization:
      credentials: <YOUR_API_TOKEN>
    params:
      namespace: ['purefa']
    static_configs:
    - targets: ['<YOUR_FLASHARRAY_FQDN_OR_IP>']
      labels:
        location: US
        site: TestSite
        instance: FlashArray1
        env: 'Test Lab'

  - job_name: 'purestorage-fa1_volumes'
    scheme: https
    tls_config:
      insecure_skip_verify: true
    metrics_path: /metrics/volumes
    authorization:
      credentials: <YOUR_API_TOKEN>
    params:
      namespace: ['purefa']
    static_configs:
    - targets: ['<YOUR_FLASHARRAY_FQDN_OR_IP>']
      labels:
        location: US
        site: TestSite
        instance: FlashArray1
        env: 'Test Lab'

  - job_name: 'purestorage-fa1_hosts'
    scheme: https
    tls_config:
      insecure_skip_verify: true
    metrics_path: /metrics/hosts
    authorization:
      credentials: <YOUR_API_TOKEN>
    params:
      namespace: ['purefa']
    static_configs:
    - targets: ['<YOUR_FLASHARRAY_FQDN_OR_IP>']
      labels:
        location: US
        site: TestSite
        instance: FlashArray1
        env: 'Test Lab'

# For FlashArray2

  - job_name: 'purestorage-fa2'
    scheme: https
    tls_config:
      insecure_skip_verify: true
    metrics_path: /metrics/array
    authorization:
      credentials: <YOUR_API_TOKEN>
    params:
      namespace: ['purefa']
    static_configs:
    - targets: ['<YOUR_FLASHARRAY_FQDN_OR_IP>']
      labels:
        location: US
        site: TestSite
        instance: FlashArray2
        env: 'Test Lab'

  - job_name: 'purestorage-fa2_volumes'
    scheme: https
    tls_config:
      insecure_skip_verify: true
    metrics_path: /metrics/volumes
    authorization:
      credentials: <YOUR_API_TOKEN>
    params:
      namespace: ['purefa']
    static_configs:
    - targets: ['<YOUR_FLASHARRAY_FQDN_OR_IP>']
      labels:
        location: US
        site: TestSite
        instance: FlashArray2
        env: 'Test Lab'

  - job_name: 'purestorage-fa2_hosts'
    scheme: https
    tls_config:
      insecure_skip_verify: true
    metrics_path: /metrics/hosts
    authorization:
      credentials: <YOUR_API_TOKEN>
    params:
      namespace: ['purefa']
    static_configs:
    - targets: ['<YOUR_FLASHARRAY_FQDN_OR_IP>']
      labels:
        location: US
        site: TestSite
        instance: FlashArray2
        env: 'Test Lab'
 